.button {
  text-transform: uppercase;
  font-size: 16px;
  background-color: $default-button-background-color;
  color: $default-button-text-color;
  border-width: 0px !important;

  padding: 0.5em;
  margin-bottom: 0.5em;
  @include border-radius(10px);
}

.button__danger {
  background-color: $danger-button-background-color;
  color: $default-button-text-color;
  border-width: 0px !important;
}
