.coin-weather {
  text-transform: uppercase;
}

.coin-weather__apocalypse {
  color: $apocalypse-color;
  opacity: 1;
  animation: fade 1s infinite;
}

.coin-weather__very_bloody {
  color: $very-bloody-color;
  opacity: 1;
  animation: fade 1s infinite;
}
.coin-weather__bloody {
  color: $bloody-color;
}

.coin-weather__cloudy {
  color: $cloudy-color;
}

.coin-weather__boring {
  color: $boring-color;
}

.coin-weather__sunny {
  color: $sunny-color;
}

.coin-weather__very_sunny {
  color: $very-sunny-color;
}

.coin-weather__to_the_moon {
  color: $to-the-moon-color;
  opacity: 1;
  animation: fade 1s infinite;
}

.coin-weather__to_andromeda_galaxy {
  color: $to-andromeda-galaxy-color;
  opacity: 1;
  animation: fade 1s infinite;
}
