.coin-weather {
  text-transform: uppercase;
}

.coin-weather--static {
  animation: none !important
}

.coin-weather__full {
  font-weight: 600;
}

.coin-weather__death {
  color: $death-color;
  opacity: 1;
  animation: fade 1s infinite;
}

.coin-weather__apocalypse {
  color: $apocalypse-color;
  opacity: 1;
  animation: fade 1s infinite;
}

.coin-weather__bloodbath {
  color: $bloodbath-color;
  opacity: 1;
  animation: fade 1s infinite;
}
.coin-weather__very-bloody {
  color: $bloody-color;
}

.coin-weather__bloody {
  color: $very-bloody-color;
}

.coin-weather__boring {
  color: $boring-color;
}

.coin-weather__sunny {
  color: $sunny-color;
}

.coin-weather__very-sunny {
  color: $very-sunny-color;
}

.coin-weather__to-the-moon {
  color: $to-the-moon-color;
  opacity: 1;
  animation: fade 1s infinite;
}

.coin-weather__to-andromeda-galaxy {
  color: $to-andromeda-galaxy-color;
  opacity: 1;
  animation: fade 1s infinite;
}

.coin-weather__infinity-and-beyond {
  color: $infinity-and-beyond-color;
  opacity: 1;
  animation: fade 1s infinite;
}
