.error {
  text-align: center;
  margin-top: 5em;
  color: $main-red-color;
  opacity: 0.8;
}

.error__message {
  font-size: 25px;
}

.error__icon {
  margin-top: 0.3em;
  font-size: 100px;
}

.error__raw {
  margin-top: 2em;
  font-size: 20px;
  color: $main-grey;
}
