.footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 50px;
  border-top: 2px solid $footer-border-color;
  position: fixed;
}
