.footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 8vh;
  border-top: 3px solid $footer-border-color;
  position: fixed;
  top: 92%;
  text-align: center;
}

.footer__title {
  text-transform: uppercase;
  margin-top: 0.5em;
}

.footer__content {

}
