.header {
  background-color: $header-background-color;
  background-image: $diagonal-stripes-pattern-in-white;
  height: 3px;
  color: $header-text-color;

  a {
    text-decoration: none;
    color: $header-text-color;
  }
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  margin-left: 0.7em;
  h1 {
    font-weight: 300;
  }
}

.header__back {
  font-size: 2.5em;
  vertical-align: middle;
  margin-top: 0.64em
}
