.header {
  background-color: $header-background-color;
  color: $header-text-color;
  padding-top: 1em;
  padding-bottom: 1em;

  a {
    text-decoration: none;
    color: $header-text-color;
  }
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  h1 {
    font-weight: 300;
  }
}

.header__left-title {
  text-transform: uppercase;
  text-align: left;
  margin-left: 0.7em;
  h1 {
    font-weight: 300;
  }
}

.header__center-menu {
  text-align: left;
  margin-top: 1.8em;
  text-transform: uppercase;
  font-size: 18px;
  a {
    border-bottom: 1px solid $header-text-color;
    display: initial;
    padding-bottom: 0.2em;
  }
}

.header__back {
  font-size: 2.5em;
  vertical-align: middle;
  margin-top: 0.64em
}
