.header {
  background-color: $header-background-color;
  color: $header-text-color;
  padding-top: 1em;
  padding-bottom: 1em;

  a {
    text-decoration: none;
    color: $header-text-color;
  }
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  h1 {
    font-weight: 300;
  }
}

.header__back {
  font-size: 2.5em;
  vertical-align: middle;
  margin-top: 0.64em
}
