.inner-footer {
  margin-left: 1.3em;
  margin-right: 1.7em;
  margin-bottom: 2em;
  span {
    color: $main-highlight-color;
    vertical-align: sub;
    font-size: 18px;
  }
  a {
    color: $main-black;
    opacity: 0.5;
    text-decoration: none;
  }
  a:hover {
    color: $main-highlight-color;
    opacity: 1;
  }
}

.inner-footer__left {
  text-align: left;
}

.inner-footer__right {
  text-align: right;
}

.inner-footer__red {
  span {
    color: $main-red-color;
    vertical-align: sub;
    font-size: 18px;
  }
  a {
    color: $main-black;
    opacity: 0.5;
    text-decoration: none;
  }
  a:hover {
    color: $main-red-color;
    opacity: 1;
  }
}
