.loader {
  font-size: 30px;
  text-align: center;
  color: $loader-text-color;
  opacity: 0.53;
}

.loader__full-page {
  margin-top: 30vh;
}

.loader__text {
  animation: fade 1s infinite;
}

.sk-cube {
  background-color: $loader-text-color !important;
}

.sk-wave .sk-rect {
  background-color: $main-black;
  opacity: 0.3;
}
