.loader {
  font-size: 30px;
  text-align: center;
  color: $loader-text-color;
  opacity: 0.90;
}

.loader__full-page {
  margin-top: 26vh;

  .sk-wave {

  }
  .sk-wave .sk-rect {
    background-color: $loader-text-color !important;
    opacity: 1.0 !important;
  }
}

.loader__quote {
  font-size: 20px;
  text-align: center;
  color: $main-black;
  padding: 2em;
  opacity: 0.50;
  font-style: italic;
}

.loader__quote-outside {
  font-size: 30px;
}

.loader__text {
  // animation: fade 1s infinite;
}

.sk-cube {
  background-color: $loader-text-color !important;
}

.sk-wave .sk-rect {
  background-color: $main-black;
  opacity: 0.3;
}
