.market-weather {
  color: $module-title-color;
}

.market-weather__icon {
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  @include breakpoint(mobile) {
    font-size: 50px;
  }
}

.market-weather__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  @include breakpoint(mobile) {
    font-size: 40px;
  }
}

.market-weather__info {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.4;
  span {
    word-wrap: break-word;
    white-space: normal;
  }
}
