.mini-module {
  background-color: $module-background-color;
  border: 2px solid $module-border-color;
  @include border-radius(7px);
  a {
    text-decoration: none;
  }
  margin-left: 0.2em;
  margin-right: 0.2em
}

.mini-module--active {
  border: 2px solid $main-highlight-color;
  background-image: $filled-pattern-in-white;
}


.mini-module__title {
  // background-color: $module-title-background-color;
  color: $module-title-color;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  text-align: left;
  @include border-radius-top(7px);
  @include wrap-words;
    h2 {
      @include wrap-words;
    }
}

.mini-module__content {
  padding-left: 1em;
  padding-right: 1em;
  // background-color: $module-title-background-color;
}

.mini-module__footer {
  text-align: right;
  font-size: 12px;
  padding: 0.5em;
  color: $module-title-color;
  @include border-radius-bottom(7px);
  // background-color: $module-title-background-color;
}
