.module {
  background-color: $module-background-color;
  border: 2px solid $module-border-color;
  @include border-radius(10px);
  margin-top: 1em;
  margin-bottom: 1em;
}

.module__title {
  background-color: $module-title-background-color;
  border-bottom: 2px solid $module-border-color;
  color: $module-title-color;
  padding: 1em;
  text-align: left;
  @include border-radius-top(10px);
  @include wrap-words;
    h2 {
      @include wrap-words;
    }
}

.module__subtitle {
  font-size: 16px;
  font-weight: 200;
}

.module__title-favorite {
  font-size: 27px;
  a {
    color: $color-favorite-on;
    text-decoration: none;
    display: block;
  }
  .--on {
    opacity: 1.0;
  }
  .--off {
    opacity: 0.2;
  }
}

.module__title-folio {
  font-size: 24px;
  color: $color-folio-on;
  text-decoration: none;
  display: block;
  .--on {
    opacity: 1.0;
  }
  .--off {
    opacity: 0.2;
  }
}

.module__logo {
  background-color: $module-title-background-color;
  @include border-radius(10px);
  padding: 1em;
  img {
    width: 100%
  }
}

.module__content {
  padding: 1em;
  background-color: $main-background-color;

  .--small {
    font-size: 25px;
  }

  .--medium {
    font-size: 35px;
  }

}

.module__content-digits {
  @include wrap-words;
  text-align: center;
  font-size: 43px;
  word-wrap: break-word;
}

.module__content-percent {
  text-align: center;
  font-size: 60px;
}


.module__footer {
  text-align: right;
  font-size: 12px;
  color: $module-title-color;
  opacity: 0.53;
  margin: 0.5em;
}

.module__footer-add {
  font-size: 50px;
  margin-top: -1em;
}
