.outside-link {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.4em;
  text-align: left;

  span {
    color: $main-highlight-color;
    vertical-align: sub;
    font-size: 18px;
  }
  a {
    color: $main-black;
    opacity: 0.5;
    text-decoration: none;
  }
  a:hover {
    color: $main-highlight-color;
    opacity: 1;
  }
}
