.search {
  input {
    border: 2px solid $module-border-color;
    color: $module-title-color;
    font-size: 20px;
    @include border-radius(10px);
    margin-top: 1em;
    margin-bottom: 1em;
    width: inherit;
    padding: 1em;
    width: -webkit-fill-available;
  }
}

.search__no-result {
  padding-left: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 20px;
  color: $header-background-color;
}
