.search {
  position: relative;

  input {
    border: 2px solid $module-border-color;
    color: $module-title-color;
    font-size: 18px;
    @include border-radius(5px);
    width: inherit;
    padding: 0.7em;
    margin-top: 0;
    margin-bottom: 0.5em;
    width: -webkit-fill-available;
    &:focus {
      border-color: $footer-border-color;
    }
  }
}

.search__remove {
  position: absolute;
  top: 30%;
  right: 15px;
  cursor: pointer;
  color: $module-title-color;
}

.search__no-result {
  padding-left: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 20px;
  color: $loader-text-color;
}

.search__loading {
  padding-left: 0.3em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 20px;
  color: $loader-text-color;
}
