@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-top($radius: 5px) {
  -webkit-border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  -ms-border-radius: $radius $radius 0 0;
  border-radius: $radius $radius 0 0;
}

@mixin border-radius-bottom($radius: 5px) {
  -webkit-border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  -ms-border-radius: 0 0 $radius $radius;
  border-radius: 0 0 $radius $radius;
}

@mixin wrap-words {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
