.\+pointer {
  cursor: pointer;
}

.\+mobile {
  @include breakpoint(desktop) {
    display: none;
  }
}

.\+desktop {
  @include breakpoint(mobile) {
    display: none;
  }
}

.\+small-spacer {
  margin: 1em;
}

.\+centered {
  text-align: center;
}

.\+no-margin-top {
  margin-top: 0 !important;
}

.\+no-margin {
  margin: 0 !important;
}
