a {
  color: $section-title-color;
  display: block;
}

a:hover {
  /* -webkit-filter: opacity(0.9);
  filter: opacity(0.9); */
}

a:active {
  -webkit-filter: opacity(0.8);
  filter: opacity(0.8);
}
