input {
  text-align: left;
  padding: 0.5em;
  margin-bottom: 0.5em;
  // width: 90%;
  @include border-radius(10px);
  border: 2px solid $module-border-color;
  font-size: 20px;
  // width: -webkit-fill-available;

  &:focus {
    border-color: $footer-border-color;
  }
}

::placeholder {
   color: $module-border-color;
   opacity: 0.8;
}
