@keyframes totalUp {
    0%  { color: $positive-number; }
    100% { color: #3E4651; }
}

@keyframes totalDown {
    0%  { color: $negative-number; }
    100% { color: #3E4651; }
}

.number__up {
  animation: totalUp 0.5s;
}

.number__down {
  animation: totalDown 0.5s;
}

.number__negative {
  color: $negative-number;
}

.number__positive {
  color: $positive-number;
}
