.footer-placeholder {
  @include breakpoint(mobile) {
    min-height: 10vh;
  }
  min-height: 8vh;
}

.footer {
  @include breakpoint(mobile) {
    min-height: 10vh;
    top: 90%;
  }
  min-height: 8vh;
  top: 92%;
}
