/* * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
} */

.footer-placeholder {
  @include breakpoint(mobile) {
    min-height: 10vh;
  }
  min-height: 7vh;
}

.footer {
  position: fixed;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  @include breakpoint(mobile) {
    min-height: 10vh;
    top: 90%;
  }
  min-height: 6vh;
  bottom: 0;
  z-index: 10;
}
