.footer-placeholder {
  @include breakpoint(mobile) {
    min-height: 10vh;
  }
  min-height: 6vh;
}

.footer {
  position: fixed;
  @include breakpoint(mobile) {
    min-height: 10vh;
    top: 90%;
  }
  min-height: 6vh;
  bottom: 0;
  z-index: 10;
}
