$main-background-color: #F3F5F6;

$module-background-color: F9F9F9;
$module-border-color: #E0E5ED;
$module-title-background-color: #FFF;
$module-title-color: #465261;

$section-title-color: #465261;

$header-background-color: #65CAE2;
$header-text-color: #FFF;

$loader-text-color: $header-background-color;

$text-red-color: #FF9595;

$positive-number: #98be62;
$negative-number: #d0342c;
